html, body {
  height: 100%;
  width: 100%;
}
/* Estilo global */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
  color: #333;
}

header {
  background-color: #0d47a1;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav ul li a, nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover, nav a:hover {
  color: #ffca28;
}

section {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select, button {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1565c0;
}

footer {
  background-color: #0d47a1;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

iframe {
width: 100%


}